<div id="<%= dom_id list %>">
  <h1>
    <strong>Name:</strong>
    <%= list.name %>
  </h1>

  <% if list.public? %>
  <p>
    <strong>THIS IS A PUBLIC LIST</strong>
  </p>
  <% else %>
  <p>
    <strong>THIS IS A PRIVATE LIST</strong>
  </p>
  <% end %>


<% if list.completed? %>
  <p>
    <strong>THIS IS A COMPLETED LIST</strong>
  </p>
  <% else %>
  <p>
    <strong>THIS IS AN INCOMPLETE LIST</strong>
  </p>
  <% end %>

  <p>
    <strong>User:</strong>
    <%= list.user.email %>
  </p>

</div>
