<div id="<%= dom_id list %>">
  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Private List:</strong>
    <%= !list.public? %>
  </p>

  <p>
    <strong>User:</strong>
    <%= list.user.email %>
  </p>

</div>
