<div class="<%= item.completed ? 'bg-primary text-white' : 'p-2 bg-light border d-flex justify-content-between align-items-center' %>" id="<%= dom_id(item) %>">
  <div class="d-flex align-items-center">
    <span class="me-3"><%= item.name %></span>
    
    <% if current_user && @list.user_id == current_user.id %>
      <%= check_box_tag 'item_completed', '1', item.completed, class: "form-check-input me-2", id: dom_id(item, :checkbox),
          data: { controller: "checkbox", action: "change->checkbox#update", checkbox_url_value: url_for([item.list, item])} %>
      
    <% end %>
  </div>
</div>